.Topico {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1.6fr 0.4fr;
  grid-template-rows: 4em 3fr;
  grid-template-areas:
    "superior superior"
    "central direito";
  gap: 1px;
}

@media screen and (max-width: 576px){
  .Topico {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "superior"
      "central";
  }
}

@media screen and (max-width: 768px) and (min-width: 576px){
  .Topico {
    grid-template-columns: 1.5fr 0.5fr;
  }
}
